@import url('https://fonts.googleapis.com/css2?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=PT+Sans+Caption:wght@400;700&display=swap');

*{
  box-sizing:border-box;
  padding:0;
  margin:0;
}

body{
 font-family:'Merriweather',sans-serif;
 padding-bottom:40px;
}

#logo{
  font-family:'Jersey 10',sans-serif;
  color:white;
  font-size:75px;
margin-right:auto;
}

li, a{
  text-decoration:none;
  list-style-type: none;
  color:white;
  font-family:'Montserrat',sans-serif;
  font-size:24px;
}

li{
  display:inline-block;
  padding:0 10px;
}

header{
  display:flex;
  justify-content:flex-end;
  align-items:center;
  padding:0 40px;
  height:80px;
  width:100%;
  background-color:#36486b;
}

button{
border-radius:50px;
padding:10px;
border:2px solid transparent;
font-weight:bold;
}

#contact-btn{
  background-color:#77a8a8;
  margin-left:30px;
}

a:hover{
  color:#77a8a8;
  transition:0.26s;
}

#contact-btn:hover{
  cursor:pointer;
  border:2px solid transparent;
}

#check{
  display:none;
}

.checkbtn{
  font-size:30px;
  color:white;
  display:none;
}

@media(max-width:858px){
  .checkbtn{
    display:block;
  }
  #contact-btn{
    margin-right:30px;
  }

  .Prices{
    align-items: center; justify-content: center; flex-direction: column;
  }

ul{
    position:fixed;
    background:#8d9db6;
    height:100vh;
    width:100%;
    top:80px;
    visibility:collapse;
    left:0;
    text-align:center;
  }

  a{
    font-size:35px;
    font-weight:bold;
  }
  a:hover{
    color:#36486b
  }

  li{
    display:block;
    padding:30px;
    margin:50px 0;
    line-height:30px;
  }

  #video{
    width:360px;
    height:215px;
  }
  

}

#check:checked ~ nav ul {
  visibility:visible;

}

h1{
  margin-top:30px;
  padding:10px;
  text-align:center;
  font-weight:normal
}

#email{
  border:1px solid grey;
  border-radius:10px;
  margin: auto;
  display: block;
  padding:10px;
  width:300px;
  margin-top:10px;
}

#submit{
  padding:5px 12px;
  
  margin:auto;
  display:block;
  margin-top:20px;
background-color:#ffcc00;
  font-weight:bold;
  border-radius:50px;

  border:1px solid transparent;
}

#submit:hover{
  background-color:#ffb31a;
  transition:0.35s;
}

#About_Us{
  margin-top:50px;
}


#video{
  margin:auto;
  display:block;
  width:560px;
  height:315px;
}

#Services{
  display:flex;
  justify-content:center;
  gap:20px;
  margin-top:80px;
  margin-bottom:20px;
}

.service-container {
  height:200px;
  width:230px;
  text-align:center;
}

#icon{
  font-size:50px;
  display:flex;
  justify-content:center;
 
}

#service-descrptn{
  padding: 20px 0;
}

#descrptn{
  font-size:14px;
   margin-top:20px;
   
}


#service-btn{
  background-color:rgb(0, 120, 254);
  display:block;
  margin:auto;
  border-radius:50px;
  color:white;
  font-weight:normal;
}


.Prices{
  display:flex;
  gap:10px;
  justify-content:center;
  margin-top:60px;
}

.price-container{
  width:300px;
  height:250px;
  border:1px solid grey;
  text-align:center;
}

.banner{
  width:100%;
  height:15%;
  background-color:#ffcc00;
  padding:10px;
}

#bnr-txt{
  text-align:center;
  font-family:sans-serif;
  
}

#price{
  font-size:35px;
  font-weight:normal;
  margin-top:10%;
  margin-bottom:15%;
}

#desc{
  font-family:Sans-Serif;
  padding:0 30px;
   color:#7F7F7F;

}

#alert-notice{
  font-size:10px;
  text-align:center;
  padding-top:30px;
}







